[submodule "automations/scap-security-policies"]
	path = automations/scap-security-policies
	url = https://github.com/0day-xc-Our/2020-Security-Guide
[submodule "environment/secgen"]
	path = environment/secgen
	url = https://github.com/cliffe/SecGen/
[submodule "automations/ccdc-scripts"]
	path = automations/ccdc-scripts
	url = git@github.com:49thSecurityDivision/CCDC.git
